.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.jdt.core.prefs
.settings/com.google.gwt.eclipse.core.prefs
.settings/com.google.gdt.eclipse.core.prefs
.settings/com.google.appengine.eclipse.core.prefs
.project
.classpath
/bin/
/gwt-unitCache/
